.article-format {
   
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
      }
  
      @media screen and (min-width: 998px) {
        
        gap: 60px;
        margin: 0em 9em;
        display: grid;
    }
}

.article-photo {
    max-width: 30em;
  }

article {
    width: 100%;

    @media screen and (min-width: 998px) {
        width: 80%;
    }
}