.article-format {
   
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
      }
  
      @media screen and (min-width: 998px) {
        
        gap: 60px;
        margin: 0em 9em;
        display: grid;
    }
}

.article-photo {
    max-width: 30em;
  }

article {
    width: 100%;

    @media screen and (min-width: 998px) {
        width: 80%;
    }
}

.imagen-destacada {
    display: flex;
    margin: 0 auto;
    margin-block: 3em;
    width: 100%;
    padding: 1em;

    @media screen and (min-width: 768px) {
        width: 70%;
      }
}


hr {
    border: 1px solid;
    margin-bottom: 3em;
}