body {
    width: 100%;
    margin: 0 auto;
    font-family: $font-family;
    background-color: $color-background;
    color: $color-primary;
    
  }


h1,
h2 {
    text-align: center;
    padding: 0.5em;
    text-shadow: 2px 2px 2px $color-primary;
  }


.mosaic-section {
  
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 auto;
  
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr); 
    }

    @media screen and (min-width: 998px) {
        grid-template-columns: repeat(3, 1fr); 
  }
}

.mosaic-card {
    position: relative;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color:$color-background;
    margin-top: 2em;
    border-radius: 5px;
}



.card-photo {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 1em;
}



.mosaic-content {
    padding: 20px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 10px;
  }

  .mosaic-card > .mosaic-content .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}



  .category-main{
    background-color: rgba(250, 221, 221, 0.8);
    padding: 1em;

  }

  .category-main__content {
    margin: 0em 2em;

    @media screen and (min-width: 768px) {
      margin: 5em;
      display: flex;
      flex-direction: column;

    }
  }


  .video-container {
    max-width: 560px; 
    margin: 0 auto;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }


  p{
    margin-bottom: 5px;
  }

  .enlaces h4 {
    text-align: center;
    margin: 2em 1em;
}