
.icons-heart {
    width: 15em;
    height: 10em;
}

.icons-letters {
    width: 20em;
    height: 3em;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 3rem;


}