
.icons-heart {
    width: 15em;
    height: 10em;
}

.icons-letters {
    width: 20em;
    height: 3em;
}

.icons {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between; 
        text-align: left;
  }
}