@use "sass:color";

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;

$color-background: #ffffff;
$color-text: #000000;
$color-primary: #af0000;
$color-secondary: #ffc60b;
$color-primary-accent:#ff0000 ;